body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header{
  text-align: center;
  border-bottom: 1px solid #eee;
  padding-bottom: .5rem;
}
h2, h3, h4, h5, h1, p{
  padding: 0;
  margin: 0px !important;
}
.success{
  color: #fff;
  background-color: green;
  padding: 2px 4px;
  border-radius: 5px;
}
.failed{
  color: #fff;
  background-color: red;
  padding: 2px 4px;
  border-radius: 5px;
}
.page{
  display: flex;
  margin-top: 2rem;
  padding: 0rem 1rem;
}
.sidebar{
  width: 25%;
}
.main-content{
  width: 75%;
}
.ant-input-affix-wrapper{
  margin: 0rem 1.5rem 2rem;
  width: 95%;
}
.detailsPage{
  width: 100%;
  max-width: 70%;
  margin: 1rem auto 0;

}